/************************** GENERAL CSS RULES **************************
 *
 * PLEASE DO NOT PUT THE CSS RULES FOR YOUR VIZ HERE!! 
 *
 * Make another section like this one and prefix all of the selectors
 * with the ID if the div element for your tab.
 *
 * For an example, refer to the SONGS CSS RULES section of this same
 * file.
 */

body {
  font-family: "Roboto Slab", "sans-serif";
  font-size: 16px;
  background-color: #fff;
  color: #2a2b2e;
  margin: 0;
  height: 100vh;
  justify-content: space-between;
}

header {
  background-color: #fff;
  padding: 25px 100px;
  border-bottom: 2px solid #97939a;
}

main {
  height: 100%;
  padding-right: 25px;
}

h1 {
  color: #2a2b2e;
  font-family: "Roboto Slab", "serif";
  font-size: 56px;
  margin: 0;
  font-weight: normal;
}

h2 {
  color: #2a2b2e;
  font-family: "Roboto Slab", "serif";
  font-weight: normal;
}

svg {
  background-color: #ffffff;
}

button {
  padding: 10px 30px;
  color: #000;
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 4px;
  cursor: pointer;
  outline: 0;
  font-family: "Helvetica", "sans-serif";
  font-size: 16px;
}

button:hover,
button:active {
  background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  background-color: #f6f6f6;
}

.viz-container {
  height: 100%;
  padding: 0 100px;
}

/************************** MEDIA SELECTION CSS RULES **************************
 *
 * All of the CSS rules for the media selection dropdown menu.
 *
 */

.dropdown-container {
  width: 250px;
}

.dropdown-select-btn {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.dropdown-select-btn .dropdown-btn-text {
  font-size: 17px;
  font-weight: 400;
  color: #333;
}

.dropdown-select-btn .dropdown-arrow-dwn {
  display: flex;
  height: 21px;
  width: 21px;
  color: #fff;
  font-size: 14px;
  border-radius: 50%;
  background: #6e93f7;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.dropdown-select-btn.open .dropdown-arrow-dwn {
  transform: rotate(-180deg);
}

.dropdown-list-items {
  position: relative;
  margin-top: 15px;
  border-radius: 8px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  display: none;
  overflow-y: scroll;
  max-height: 400px;
}

.dropdown-select-btn.open ~ .dropdown-list-items {
  display: block;
}

.dropdown-list-items .dropdown-item {
  display: flex;
  align-items: center;
  list-style: none;
  height: 50px;
  cursor: pointer;
  transition: 0.3s;
  padding: 0 15px;
  border-radius: 8px;
}

.dropdown-list-items .dropdown-item:hover {
  background-color: #e7edfe;
}

.dropdown-item .dropdown-item-text {
  font-size: 14px;
  font-weight: 400;
  color: #333;
}

.dropdown-item .dropdown-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  width: 16px;
  border-radius: 4px;
  margin-right: 12px;
  border: 1.5px solid #c0c0c0;
  transition: all 0.3s ease-in-out;
}

.dropdown-item.checked .dropdown-checkbox {
  background-color: #4070f4;
  border-color: #4070f4;
}

.dropdown-checkbox .dropdown-check-icon {
  color: #fff;
  font-size: 11px;
  transform: scale(0);
  transition: all 0.2s ease-in-out;
}

.dropdown-item.checked .dropdown-check-icon {
  transform: scale(1);
}

/************************** OVERVIEW CSS RULES **************************
 *
 * All of the CSS rules for the "Overview" tab.
 *
 * Every selector is prefixed by #songs and therefore only applies to
 * elements within the div associated with the tab.
 */

#overview-viz-wrapper {
  display: flex;
  flex-direction: row;
  background-color: black;
  gap: 12px;
  padding: 12px;
}

#overview #overview-panel {
  width: 20%;
  border: 1px solid black;
  padding: 10px;
  visibility: visible;
  background-color: #292929;
  border-radius: 28px;
  color: white;
}

#overview #overview-media-selection {
  width: 20%;
  border: 1px solid black;
  padding: 10px;
  visibility: visible;
  background-color: #292929;
  border-radius: 28px;
  color: white;
}

.overview-graph-and-controls {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 60%;
  background-color: black;
}

#overview-controls {
  background-color: #292929;
  border-radius: 28px;
  height: 100px;
}

#overview .categories {
  margin-left: 50px;
}

#overview .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  background-color: #000;
  color: #f6f6f6;
  width: auto;
}

#overview .tooltip .tooltiptext {
  text-align: center;
  background-color: #555;
  color: #fff;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
}

#overview .tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

#overview .overview-heatmap-svg {
  background-color: #292929;
}

/************************** SONGS CSS RULES **************************
 *
 * All of the CSS rules for the "Songs" tab.
 *
 * Every selector is prefixed by #songs and therefore only applies to
 * elements within the div associated with the tab.
 */

#songs #songs-beeswarm-plot {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#songs #songs-panel {
  width: 300px;
  border: 1px solid black;
  padding: 10px;
  visibility: hidden;
}

#songs .axis-text {
  transform-origin: center;
  transform-box: fill-box;
  text-anchor: middle;
}

#songs .points .selected {
  fill: red;
}

/************************** VIDEO POSTING CSS RULES **************************
 *
 * All of the CSS rules for the "Video posting" tab.
 *
 * Every selector is prefixed by #video-posting and therefore only applies to
 * elements within the div associated with the tab.
 */

#video-posting .tick line {
  visibility: hidden;
}

#video-posting .axis path {
  opacity: 0;
}
