/************************** GENERAL CSS RULES **************************
 *
 * PLEASE DO NOT PUT THE CSS RULES FOR YOUR VIZ HERE!! 
 *
 * Make another section like this one and prefix all of the selectors
 * with the ID if the div element for your tab.
 *
 * For an example, refer to the SONGS CSS RULES section of this same
 * file.
 */

body {
  font-family: "Roboto Slab", "sans-serif";
  font-size: 16px;
  background-color: #fff;
  color: #2a2b2e;
  margin: 0;
  height: 100vh;
  justify-content: space-between;
}

header {
  background-color: #fff;
  padding: 25px 100px;
  border-bottom: 2px solid #97939a;
}

main {
  height: 100%;
  padding-right: 25px;
}

h1 {
  color: #2a2b2e;
  font-family: "Roboto Slab", "serif";
  font-size: 56px;
  margin: 0;
  font-weight: normal;
}

h2 {
  color: #2a2b2e;
  font-family: "Roboto Slab", "serif";
  font-weight: normal;
}

svg {
  background-color: #ffffff;
}

button {
  padding: 10px 30px;
  color: #000;
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 4px;
  cursor: pointer;
  outline: 0;
  font-family: "Helvetica", "sans-serif";
  font-size: 16px;
}

button:hover,
button:active {
  background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  background-color: #f6f6f6;
}

.viz-container {
  height: 100%;
  padding: 0 100px;
}

/************************** SONGS CSS RULES **************************
 *
 * All of the CSS rules for the "Songs" tab.
 *
 * Every selector is prefixed by #songs and therefore only applies to
 * elements within the div associated with the tab.
 */

#songs #songs-beeswarm-plot {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#songs #songs-panel {
  width: 300px;
  border: 1px solid black;
  padding: 10px;
  visibility: hidden;
}

#songs .axis-text {
  transform-origin: center;
  transform-box: fill-box;
  text-anchor: middle;
}

#songs #songs-sidebar-buttons {
  display: flex;
  justify-content: center;
  padding-right: 300px;
}

#songs .songs-button {
  width: 100px;
  margin: 20px 5px;
  padding: 6px;
  font-family: "Roboto";
  font-size: 14px;
}

#songs .points .selected {
  fill: red;
}

/************************** VIDEO POSTING CSS RULES **************************
 *
 * All of the CSS rules for the "Video posting" tab.
 *
 * Every selector is prefixed by #video-posting and therefore only applies to
 * elements within the div associated with the tab.
 */

#video-posting .tick line {
  visibility: hidden;
}

#video-posting .axis path {
  opacity: 0;
}

.categories {
  margin-left: 50px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  background-color: #000;
  color: #f6f6f6;
  width: auto;
}

.tooltip .tooltiptext {
  text-align: center;
  background-color: #555;
  color: #fff;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
 
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

